
POSTGRES_USER=postgres
POSTGRES_PASS=postgres
POSTGRES_ADMIN_USER=postgres
POSTGRES_ADMIN_PASS=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=cmdbuild_db
POSTGRES_DB=cmdbuild_r2u2

CMDBUILD_DUMP=ready2use_demo.dump.xz

JAVA_OPTS=-Xmx4000m -Xms2000m